@font-face {
  font-family: "Torus";
  src: url("/fonts/Torus-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Torus";
  src: url("/fonts/Torus-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Torus";
  src: url("/fonts/Torus-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Torus";
  src: url("/fonts/Torus-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Torus";
  src: url("/fonts/Torus-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Torus";
  src: url("/fonts/Torus-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "Torus", sans-serif;
}

.box-2,
.box-3,
.box-4,
.box-6 {
  /* border: 1pt solid rgb(0, 248, 54); */
  display: flex;
  width: 340px;
  height: 102px;
  background-color: #1a001aff;

  .inner-box {
    /* border: 1pt solid white; */
    margin-top: 26px;
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 26px;
    width: 100%;

    .row-1 {
      /* border: 1pt solid white; */
      display: flex;
      font-size: 16px;

      div {
        margin-right: 5px;
      }

      .text {
        font-weight: 500;
      }

      .value {
        font-weight: 800;
      }
    }

    .row-2 {
      /* border: 1pt solid white; */
      display: flex;
      margin-top: 13px;

      div {
        margin-right: 5px;
      }

      .text {
        font-weight: 500;
      }

      .value {
        font-weight: 800;
      }
    }
  }
}
